/*place global styles here */
html, body { @apply h-full overflow-hidden; }


#scroll-virtual-custom {
    justify-content: center;
    max-width: 512px;
    margin: 0 auto !important;
    float: none !important; 
}

.container{
    padding: 0% 2% 2% 2%;
}

.container-sidebar{
    padding: 0% 7% 7% 7%;
}

.header{
    padding: 0% 2% 0% 2%;
}